<row>
  <columns>
    <p class="text-center">
      Data: 24 de Agosto de 2016<br>
      WTC Events Center<br>
      Av. Nações Unidas, 12551 - São Paulo <br>
      <a href="http://saopaulo.thegmic.com">saopaulo.thegmic.com</a>
    </p>
  </columns>
</row>
<table class="hr">
  <tr>
    <th>&nbsp;</th>
  </tr>
</table>
<spacer size="20"></spacer>
<row>
  <columns small="12" large="12" pardot-region>
    <h5 class="text-center">Patrocinadores</h5>
    <center>
      <img src="http://www2.gwc.net/l/69692/2016-07-14/4rz3dy/69692/81846/sp16_sponsors_foundation.png" alt="Sponsors">
    </center>
  </columns>
</row>
<row>
  <columns small="12" large="12" pardot-region>
    <h5 class="text-center">Parceiros</h5>
    <center>
      <img src="http://www2.gwc.net/l/69692/2016-07-14/4rz3kf/69692/81848/sp16_partners_foundation.png" alt="Partners">
    </center>
  </columns>
</row>
<table class="hr">
  <tr>
    <th>&nbsp;</th>
  </tr>
</table>
<spacer size="20"></spacer>
{{> social-media-sp }}
{{> address-usa }}
