<row>
  <columns large="6" class="large-offset-3 social">
    <center>
      <a href="https://www.facebook.com/gmicsaopaulo"><img src="http://www2.gwc.net/l/69692/2015-07-01/lc3gh/69692/24202/sv_social_f.gif" alt="Facebook" width="45" height="44"></a>
      <a href="https://twitter.com/Gmicsaopaulo"><img src="http://www2.gwc.net/l/69692/2015-07-01/lc3gm/69692/24208/sv_social_t.gif" alt="Twitter" width="45" height="44"></a>
      <a href="https://www.flickr.com/photos/thegmic"><img src="http://www2.gwc.net/l/69692/2015-10-02/2l1d39/69692/38438/sv_social_f.gif" alt="Flickr" width="45" height="44"></a>
      <a href="http://www.linkedin.com/groups?gid=2825839&trk=hb_side_g"><img src="http://www2.gwc.net/l/69692/2015-07-01/lc3gk/69692/24204/sv_social_i.gif" alt="LinkedIn" width="45" height="44"></a>
      <a href="https://www.edcast.com/theGMIC"><img src="http://www2.gwc.net/l/69692/2015-09-01/29wk4p/69692/33784/ed_icon_for_GMIC.png" alt="edcast" width="45" height="45"></a>
    </center>
  </columns>
  <columns large="3"></columns>
</row>
